body
		{
			background-image: url(../assets/joanna-kosinska-1_CMoFsPfso-unsplash.jpg);
			background-attachment: fixed;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
            transition-duration: 3s;
		}
        .RE
        {
            text-align: center; 
        }
        .RE1
        {
            color: white;
            text-align: center; 
        }
		.a
		{
			    grid-column-start: 2;
                grid-column-end:4;
                grid-row-start: 1 ;
                grid-row-end: 4;
                background-color:rgb(255, 76, 65,.4);
                border-radius: 10px;
                padding: 10px;
                margin-left: 200px;
                margin-right:200px;
                box-shadow: 5px 10px 18px #FF0000;
                transition-duration: 3s;
		}
         .a1
            {
                grid-column-start: 2;
                grid-column-end:4;
                grid-row-start: 1 ;
                grid-row-end: 4;
                color: white;
                background-color:rgb(0,0,0,.4);
                border-radius: 10px;
                padding: 10px;
                margin-left: 200px;
                margin-right:200px;
                box-shadow: 5px 10px 18px #000000;
                transition-duration: 3s;
            }
		.b
		{
			 	grid-column-start: 2;
                grid-column-end:4;
                grid-row-start: 1 ;
                grid-row-end: 4;
                background-color:rgb(225,225,225,.4);
                border-radius: 10px;
                padding: 10px;
                margin-left: 200px;
                margin-right:200px;
                margin-top: 20px;
                box-shadow: 5px 10px 18px #FFFF00;
                transition-duration: 3s;
		}
        .b1
        {
                grid-column-start: 2;
                grid-column-end:4;
                grid-row-start: 1 ;
                grid-row-end: 4;
                color: white;
                background-color:rgb(0,0,0,.4);
                border-radius: 10px;
                padding: 10px;
                margin-left: 200px;
                margin-right:200px;
                margin-top: 20px;
                box-shadow: 5px 10px 18px #FFFFFF;
                transition-duration: 3s;
        }
        
		      img{
                border: 1px solid #ddd;
                background-color: blanchedalmond;
                border-radius: 4px;
                padding: 5px;
                margin-right:100px;
                float:right;
                width:100px;
                height: 120px;
                margin-top:15px;
            }

            
        .table, th, td 
        	{
  				border: 1px solid white;
			}
            table
            {
                border-collapse: collapse;
            }
		   th, td 
			{
  				padding: 15px;
			}
            .btn
            {
                float: right;
            }
            .change
            {
                background-image: url(../assets/pexels-tyler-lastovich-997443.jpg);
                transition-duration: 3s;
            }
            .button
            {
            padding: 12px 20px;
            background: #000000;
            border:none;
            color: white;
            border-radius: 20px;
            cursor: pointer;
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
            transition:all .3s ease-in;
            }
            .button:hover
            {
            background: transparent;
            color: #000000;
            border:2px solid #ffffff;
            }
            .button1
            {
            padding: 12px 20px;
            background: #ffffff;
            border:none;
            color: black;
            border-radius: 30px;
            cursor: pointer;
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
            transition:all .3s ease-in;
            }
            .button1:hover
            {
            background: transparent;
            color: #ffffff;
            border:2px solid #ffffff;
            }